{{ define "main" }}
<nav class="uninotes-breadcrumbs breadcrumbs">
  <a href="/uninotes/">UniNotes</a>
</nav>

<h1>UniNotes</h1>

{{/* Pull all semester terms from the taxonomy */}}
{{ $semesterTaxonomy := site.Taxonomies.semester }}
{{ $semesters := $semesterTaxonomy.Alphabetical }}

<ul class="uninotes-list">
  {{ range $semesters }}
    <li class="uninotes-list__item">
      <a class="uninotes-list__link" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    </li>
  {{ end }}
</ul>
{{ end }}
