{{ define "main" }}

{{ .Content }}

<h1><a href="/blog/" style="text-decoration: none; color: var(--accent-color);">All Posts</a> | <a href="/categories/" style="text-decoration: none; color: var(--accent-color);">Categories</a></h1>

<h2>{{ .Title }}</h2>

<div style="margin-bottom: 2rem;"></div>

<section class="posts-list">
  {{ range .Pages.ByDate.Reverse }}
    {{ partial "main/dates.html" . }}
    <h2 class="term-post-title">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
  {{ end }}
</section>

{{ end }}
